

# general Mac stuff
.DS_Store

# general Python
__pycache__/
*.py[cod]
*$py.class


# repo-specific
data/
output/
in_process/
analysis/
logs/
*Purgatory/
*.pptx
# will add any notebooks by hand (they are large, otherwise)
notebooks/

*.clj